<h1 class="display-5">Make an Order</h1>
<body>
  <h3>Please enter Job Information. </h3>
  <form class="form-inline my-2 my-lg-0" method="post" action="/listone">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter the Job Name" aria-label="Search" name="jobName">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter the Part ID" aria-label="Search" name="partId">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
  </form>

